/build/
/KhanzaAntrianApotek/build/
/KhanzaAntrianApotek/nbproject/private/
/KhanzaAntrianLoket/build/
/KhanzaAntrianLoket/nbproject/private/
/KhanzaAntrianLoket2/build/
/KhanzaAntrianLoket2/nbproject/private/
/KhanzaAntrianPoli/build/
/KhanzaAntrianPoli/nbproject/private/
/KhanzaCetakAntrianLoket/build/
/KhanzaCetakAntrianLoket/nbproject/private/
/KhanzaHMSAnjungan/build/
/KhanzaHMSAnjungan/nbproject/private/
/KhanzaHMSAnjunganFingerPrint/build/
/KhanzaHMSAnjunganFingerPrint/nbproject/private/
/KhanzaHMSAutoVerify/build/
/KhanzaHMSAutoVerify/nbproject/private/
/KhanzaHMSAutoVerify2/build/
/KhanzaHMSAutoVerify2/dist/
/KhanzaHMSAutoVerify2/nbproject/private/
/KhanzaHMSResume/build/
/KhanzaHMSResume/nbproject/private/
/KhanzaHMSServiceAplicare/build/
/KhanzaHMSServiceAplicare/nbproject/private/
/KhanzaHMSServiceMobileJKN/build/
/KhanzaHMSServiceMobileJKN/nbproject/private/
/KhanzaHMSServiceMobileJKNERM/build/
/KhanzaHMSServiceMobileJKNERM/nbproject/private/
/KhanzaHMSServicePCare/build/
/KhanzaHMSServicePCare/nbproject/private/
/KhanzaHMSServiceSIRSYankes/build/
/KhanzaHMSServiceSIRSYankes/nbproject/private/
/KhanzaHMSServiceSatuSehat/build/
/KhanzaHMSServiceSatuSehat/nbproject/private/
/KhanzaPengenkripsiTeks/build/
/KhanzaPengenkripsiTeks/dist/
/KhanzaPengenkripsiTeks/nbproject/private/
/KhanzaSecurity16bit/build/
/KhanzaSecurity16bit/nbproject/private/
/KhanzaUpdater/build/
/KhanzaUpdater/dist/
/KhanzaUpdater/nbproject/private/
